* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
   /* Prevents extra scrolling */
  background-color: black; /* Ensure full black background */
}

.app-container{
  min-height: 100vh;

}